<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'site.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}" />
</head>

<body>
    <div class="navbar">
        <div id="nav_header_bar_left">
            <a href="/" class="navbar-brand">Application Form Demo</a>
            <a href="{% url 'home' %}" class="navbar-item">Home</a>
            <a href="{% url 'create' %}" class="navbar-item">Create Form</a>
            <a href="{% url 'history' %}" class="navbar-item">Views History</a>
            <a href="{% url 'about' %}" class="navbar-item">About</a>
        </div>
        <div id="nav_header_bar_right">
        </div>
    </div>

    <div class="body-content">
        {% block content %}{% endblock %}
        <hr />
        <footer>
            <p>Copyright &copy; 2023 Karen Huen</p>
        </footer>
    </div>
</body>
</html>